$font-size: 13px;
$danger: #b34e4d;
$warning: #c09854;
$info: #3986ac;
$success: #458746;
$bg-color: #fff;

[data-clew] {
	position: relative;
  &:after {
		position: absolute;
    transform: translateX(-50%);
    display: none;
    font-size: $font-size;
    border-radius: 4px;
		content: attr(data-clew);
    padding: 10px;
    background-color: $bg-color;
    box-shadow: 0 0 14px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    color: #777;
    width: 200px;
    line-height: 1.25rem;
    text-align: left;
	}
  
  &.clew-animation {
    &:after {
      display: block;
      opacity: 0;
      visibility: hidden;
      transition: all .3s;
    }
    &:hover {
      overflow: visible;
      &:after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
	
	&:hover {
    &:after {
      display: block;
    }
	}

	&.clew-top {
		&:after {
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%) translateY(8px);
		}
		&:hover {
			&:after {
				transform: translateX(-50%) translateY(-8px);
			}
		}
	}
	
	&.clew-bottom {
		&:after {
			top: 100%;
			left: 50%;
			transform: translateX(-50%) translateY(-8px);
		}
		&:hover {
			&:after {
				transform: translateX(-50%) translateY(8px);
			}
		}
	} 
	
	&.clew-left {
		&:after {
			top: 50%;
			right: 100%;
			transform: translateX(8px) translateY(-50%);
		}
		&:hover {
			&:after {
				transform: translateX(-8px) translateY(-50%);
			}
		}
	} 
	
	&.clew-right {
		&:after {
			top: 50%;
			left: 100%;
			transform: translateX(-8px) translateY(-50%);
		}
		&:hover {
			&:after {
				transform: translateX(8px) translateY(-50%);
			}
		}
	} 
}
	